bin/
obj/
packages/
Artifacts/
artifacts/
TestResults/
testresults/
*.user
.vs/
*.suo
appsettings.Secrets.json
*.pubxml.user
*.userosscache
*.sln.docstates
*_RazorAssemblyInfo.cs
*.dbmdl
*.jfm
*.publishproj
*.nupkg
*.snupkg
nuget.exe
MSBuild/
*.msbuildnugetpipeline.targets
.project
.classpath
.cproject
.vagrant/
.idea/
*.pidb
*.svclog
*.scc
*.bak
*.cache
*.log
*.sqlsuo
*.dbproj.schemaview
publish/
.freebuff/
.trae/
App_Data/
*.db-shm
*.db-wal
